footer{width: 100%;
    .f-o{display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #e8e8e8;
p{
    color: #6b6d6f;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .32px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
    }
}